@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{ padding:0;
  margin: 0;
  font-family: "Inter",sans-serif;
}   
body{
  background-color: #F3F5FC;
  height: 100vh;
}

header{
  width: 120px;
  height: 80px;
  padding: 2%;
}

.logo{
 padding: 10%;
 width: 120px;
 height:48px;
}

.contenedor{
  display: flex;
  align-items: center;  
  gap:200px;
}

.contenedor__texto{  
    width: 60%;
    height: 90%;
    
}


.text_area{
 width: 100%;
 height: 500px;
 padding: 10px 0px 0px 150px ;
 border: none;
  background-color: #F3F5FC;
  cursor: pointer;
  text-transform: lowercase; 
  line-height: 150%; 
  font-weight: 400;
  font-size: 32px;
  color: #0A3871;
  font-family:"Inter",sans-serif;
  resize:none;
 
}

.text_area::placeholder{
  color: #0A3871;  
} 

.text_area:focus,
.text_area:active{
 border: none;
 outline: none;
}

.informacion{
  display: flex;
  padding-left: 10%;
  color: #808080;
  font-family:"Inter",sans-serif;
  font-size: 15px;
  top: 700px;
  height: 90px;
  left: 390px;
}
.botones{
  
  display: flex;
  gap: 24px;
  top: 600px;
  height: 80px;
  padding-left: 10%;  
}

.boton__encriptar{
  width:328px;
  height:67px;
  border-radius: 24px;
  background-color: #0A3871;
  color: #FFFFFF;
  font-family:"Inter",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  cursor: pointer;
  border: none;
}
.boton__desencriptar{
  width: 328px;
  height:67px;
  border-radius: 24px;
  background-color: #D8DFE8;
  color: #0A3871;
  font-family:"Inter",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  cursor: pointer;  
 border:1px solid #0A3871;
} 
.boton__desencriptar:hover{
  margin: 3px;
  width: 320px;
  padding: 23.5px;
  background-color: #c2d5ed;
  border: 2px 

}
.boton__encriptar:hover{
  margin: 3px;
  width: 320px;
  padding: 23.5px;
  background-color: #02254f;
  border: 2px 
}
.contenedor__encriptar{  
  width: 400px;
  height: 844px;
  padding: 10px 30px;
  border-radius: 32px;
  background-color:#FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0,08);
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  align-items: center;
  
}


.muneco{
  box-sizing: border-box;
  width: 100%;
  
  
  
}

.mensaje__encriptado{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter;
    text-align: center;
}


.mensaje__encriptado h3{
 
 
  line-height: 28.8px;
  color: #343A40;
  
  
  
}

.mensaje__encriptado p{
 
 font-size: 20px;
 font-weight: 400;
 line-height: 24px;
 
 color: #0A3871;
 
}


.texto__resultado{
  color: #02254f;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  display: none;
  border:none;
  border-radius: 32px; 
  padding: 10px; 
  width: 100%; 
  height: 70%;
  resize: none; 
  outline: none;
  box-sizing: border-box; 
  background-color:#FFFFFF;
  font-size: 32px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-align: center;
  
}
 

.boton__copiar{
  display: block;
  gap: 24px;
  width:336px;
  height:67px;
  border-radius: 24px;
  background-color:#FFFFFF;
  color: #0A3871;
  font-family:"Inter",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  cursor: pointer;  
  border:1px solid #0A3871;
}
.boton__copiar:hover{
  margin: 2px;
  width: 320px;
  padding: 23.5px;
  background-color: #c9d3df;
  border: 2px solid #495057

}
footer{ 

  padding: 10px;
  background-color: #FFFFFF;
  border-top: 2px solid #e02746;
  color: #e02746;
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
  width: 100%;
  text-align: center;
  margin-top:40px;
}
  @media(max-width: 1200px){
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap:40px;
    }
    .contenedor__texto{
      width: 80%;
    }
    

    .text_area{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
        border: none;
        padding:0;
       
    }

    .botones{
        display: flex;
        align-items: center;
        
    }

    .informacion{
       
        margin: 15px;
        height: auto;
    }   
    
    .contenedor__encriptar{
        width: 80%;
        height: 300px;
        display: flex;
        justify-content: center;
    }

    .boton__copiar{
      display: none;
    }


    .mensaje{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;       
        font-size: 24px;
        font-weight: 700;
    }
    .mensaje__encriptado h3{
      height: auto;

    }

    .muneco{
     display: none;
    }

  }
   

  
@media(max-width: 768px){
 
.contenedor{
  display: flex;
   flex-direction: column;   
   margin: 0;
   gap: 40px;
}
}
    .text_area{
    width:  90%;
    height: 600px; 
    
           
    }      

    

    
    .mensaje__encriptado p{
     width: auto;
     
    }


    .autor{
        font-size: 20px;
    }

